.income-expense,
.balance,
.header {
  width: fit-content;
}

.divider {
  margin: 0 10px;
  border: 1px dotted #4E5D6C;
}

.money {
  font-weight: bold;
}

.money.plus {
  color: green;
}

.money.minus {
  color: red;
}